/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@font-face {
    font-family: 'Tangerine'; /*a name to be used later*/
    src: url('../font/Tangerine-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('../font/OpenSans-Regular.ttf'); /*URL to font*/
}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   /*background:#f5d683;*/
    /*background: -webkit-linear-gradient(left, #f5d683, #f5d683); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(right, #f5d683, #f5d683); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(right, #f5d683, #f5d683); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(to right, #f5d683, #f5d683); !* Standard syntax (must be last)*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(left, #ffd668, #f5d683,#f5d683, #ffd668);
    background: -moz-linear-gradient( to left, #ffd668, #f5d683,#f5d683, #ffd668);
    background: -ms-linear-gradient(right, #ffd668, #f5d683,#f5d683, #ffd668);
    background: -o-linear-gradient( right, #ffd668, #f5d683,#f5d683, #ffd668);
    background: linear-gradient( to right, #ffd668, #f5d683,#f5d683, #ffd668);
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.logo{
	padding:0px 0 0;
	text-align:center;
}
.logo h1{
    font-family: 'Tangerine', cursive;
	font-size:3.5em;
	font-weight:bold;
    display: inline-block;
    line-height: 1em;
    margin-bottom: 0px;
}
.logo h1 a{
	color:#000;
}
.logo h1 a:hover{
	text-decoration:none;
}
.logo img{
	display:inline-block;
}
.nav{
	padding:0px 0 0;
}
ul {
	padding: 0;
	list-style: none;
}


/*-- top-nav --*/
.top-nav {
    z-index: 999;
    min-height: 45px;
}
.top-nav nav.navbar.navbar-default {
    background-color: inherit;
    border: none;
    margin: 0;
}
.top-nav ul li {
    margin: 0 0.2em;
    display: inline-block;
}
.top-nav .navbar-default .navbar-nav > li > a:hover, .top-nav .navbar-default .navbar-nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #5BD982;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.8em;
    color:#fff;
    position:relative;
}
.top-nav ul li a.link-kumya.active {
    background: #4C0807;
    color: #FFD15E;
    border-radius: 50%;
}
.top-nav .nav > li > a:hover, .top-nav .nav > li > a:focus,.top-nav ul li a.active{
    background: none;
}
/*-- drop-down --*/
.top-nav .nav .open > a, .top-nav .nav .open > a:hover, .top-nav .nav .open > a:focus {
    background-color: #eb2836;
    border: none;
}
.top-nav ul.dropdown-menu li a {
    color: #eb2836;
    font-size: 1.1em;
}
.top-nav ul.nav.navbar-right {
    margin-top: .3em;
    margin-right: 10px;
}
.top-nav .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
    margin-top: 10px;
    min-width: 100%;
}
.top-nav .dropdown-menu > li > a:hover, .top-nav .dropdown-menu > li > a:focus {
    color: #FFD15E;
    text-decoration: none;
    background-color: #eb2836;
}
.top-nav .navbar-right .dropdown-menu li {
    display: block;
}
/*-- //drop-down --*/
/*-- Kumya --*/
.link-kumya {
    overflow: hidden;
    font-family: 'Tangerine', cursive;
}
.link-kumya:hover {
    color:#FFD15E;

}
.link-kumya::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: -2px;
    z-index: 1;
    /*background: #7C0F08;*/
    -webkit-transform: translate3d(101%,0,0);
    transform: translate3d(101%,0,0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link-kumya:hover::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.link-kumya span {
    position: relative;
    z-index: 9999;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
.link-kumya span::before {
    content: attr(data-letters);
    position: absolute;
    color: #fff;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.8,0,0.3,1);
}

.link-kumya:hover span::before {
    width: 100%;
}
/*-- //Kumya --*/
.top-nav .navbar-default .navbar-brand {
    color: #fff;
    font-size: 3em;
    padding: 13px 0;
}
/*-- //top-nav --*/


img.arrow-img {
  margin-right:50%;
}

#about_video{
    height: 400px;
    border-radius: 10px;
}

.banner {
  background: url(../images/a.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 700px;
}
.about_banner {
  background: url(../images/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height:230px;
}
.banner_desc {
  padding-top:10em;
}
.about_desc{
  padding-top:5em;
}
.row-eq-height{
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display:         flex;*/
}
.about-grid{
    width: 23%;
    margin: 10px 10px;
    padding: 10px 10px;
    border: solid #7C0F08 2px;
    border-radius: 10px;
    flex: 0 0 23%;
}
.banner_desc h1 {
  color:#FFD15E;
  font-size:9em;
  font-weight: 400;
  font-family: 'Tangerine', cursive;
  line-height: 85px;
  margin-bottom:0.4em;
}
.banner_desc h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 100;
}

/*-- content --*/
.grid_1{
  padding:5em 0;
  text-align:center;
}
h3.motiveColor{
  position: relative;
  text-align: center;
  width:100%;
  margin: 0 auto;
  font-size: 6em;
    letter-spacing: 2px;
  font-weight: 400;
  color:#7C0F08;
    font-family: 'Tangerine', cursive;
}
h3.motiveColor:before {
  content: "";
  position: absolute;
    margin: 0 auto;
  top: -19px;
  left: 0;
  width: 40%;
  right: 0;
  border-bottom: 2px solid #f3f3f3;
}
h3.motiveColor:after {
  content: "";
  position: absolute;
    margin: 0 auto;
  top: -15px;
  left: 0;
  width: 40%;
  right: 0;
  border-bottom: 1px solid #f3f3f3;
}
h4.motiveColor1{
  color:#000;
  font-family: 'Tangerine', cursive;
  font-size:3em;
  font-weight:400;
  margin: 0.5em 0 1em;
  text-align: center;
}
.grid_1 p{
  color: #555;
  font-size: 1em;
  line-height: 1.8em;
  margin: 2em 0;
}
.btn_3{
	position:relative;
    margin-top: 2%;
}
.btn {
  text-transform: uppercase;
  padding: 14px 28px 14px 28px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 10px;
  font-size: 14px;
}
.btn.btn-default {
  background-color: #7C0F08;
  color: #fff;
  border-top: solid 1px #7C0F08;
  border-left: solid 1px #7C0F08;
  border-right: solid 1px #7C0F08;
  border-bottom: solid 1px #7C0F08;
}
.btn-arrow:before {
  content: "";
  position: absolute;
  bottom: 23px;
  right: 474px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 0 13px;
  border-color: transparent transparent transparent #500501;
}
.btn-arrow:after {
  width: 45px;
  height: 44px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  content: " ";
  bottom: -21px;
  right: 472px;
}
.btn-arrow:after {
  background:url(../images/arrow.png)#7C0F08 no-repeat 8px 7px;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  color: #292929;
  background-color: transparent;
}


/*--- Slider Part Starts Here ----*/
/*------------------ Slider Part starts Here----------*/
.slider{
	background:url(../images/slider_bg.jpg)no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	padding:5em 0;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
    text-align: center;
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	/*background: transparent url("../images/themes.png") no-repeat left top;*/
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;

}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top:95%;
	z-index: 990;
	padding: 0;
	margin: auto;
    width: 100%;
}
.slider-top{
	text-align: center;

}
.slider-top img{
display:inline-block;
    border-radius:100%;
    height: 120px;
    width: 120px;
    object-fit: cover;
}
.slider-top p{
	font-weight:400;
	font-size:25px;
	padding:1em 0em 0 0;
	color:#fff;
	font-style: italic
}
.slider-top p.below{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	padding: 0.5em 0 2.5em 0;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:18px;
  width:18px;
  display:inline-block;
  border:2px solid #5a686b;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  background:#5a686b;
}
.callbacks_here a:after{
  border:2px solid #eb2836;
  background:#eb2836;
}
.grid_2{
	padding:5em 0;
}
.grid_2 input[type="text"], .grid_2 textarea {
  width:50%;
  font-size: 0.85em;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #7c230d;
  color:#7d230d;
  background: none;
  outline: none;
  text-transform: uppercase;
  height: 54px;
  padding: 10px 0;
  resize: none;
}
.error{
    color: #7d230d;
}
.grid_2 input[type="text"]::-webkit-input-placeholder {
    color:#7d230d;
}
.grid_2 input[type="text"]:-moz-placeholder {
    color:#7d230d;
}
.grid_2 input[type="text"]::-moz-placeholder {
    color:#7d230d;
}
.grid_2 input[type="text"]:-ms-input-placeholder {
    color:#7d230d;
}
.grid_2 textarea::-webkit-input-placeholder {
    color:#7d230d;
}
.grid_2 textarea:-moz-placeholder {
    color:#7d230d;
}
.grid_2 textarea::-moz-placeholder {
    color:#7d230d;
}
.grid_2 textarea:-ms-input-placeholder {
    color:#7d230d;
}

.grid_2 textarea {
  width:100%;
}
.form-submit{
  margin: 1em 0 0 0;
}
.form-submit input[type="submit"] {
  color:#7C0F08;
  text-align: center;
  font-size:1.5em;
  font-weight: normal;
  background:none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight:700;
  border: none;
  cursor: pointer;
  outline:none;
}
.form-submit input[type="submit"]:hover{
	color:#000;
}
.grid_3 p{
  background: rgba(34, 34, 34, 0.5);
  text-align: center;
  padding: 55px 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}
.grid_3 h4{
  color: #FFD15E;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 1em;
}
.copy{
	text-align:center;
	margin:3em 0 0 0;
}
.copy p{
	color:#fff;
	font-size:1.2em;
	line-height:1.5em;
	font-weight:300;
}
.copy p a{
	color:#fff;
}
.copy p a:hover{
	text-decoration:underline;
}
/* --about --*/
.about_1{
  padding:2em 0 0em;
}
.grid_5 h5, .grid_5 h6{
  color: #eb2836;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
}
.grid_5 h6{
  font-size: 1.1em;
  margin: 1em 0 0 0;
}
.grid_4 p{
	font-size: 0.85em;
    line-height: 1.8em;
    color: #555;
    margin-bottom: 1em;
    font-weight: 300;
}
.grid_4 p.last{
	margin-bottom:0;
}
.view {
  	overflow: hidden;
   	position: relative;
   	text-align: center;
   	cursor: default;
    height: 240px;
    border-radius: 10px;

}
.view .mask,.view .content {
	 width:255px;
	 height:280px;
	 overflow: hidden;
	 position: absolute;
	 top: 0;
	 left: 0;
	 cursor: pointer;

}
.view img {
   display: block;
   position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.info {
   display: inline-block;
   text-decoration: none;
   margin-top:6em;
   color: #fff;
   text-transform: uppercase;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
    border-radius: 10px;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;

}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);


}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;

}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.service{
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    height: 265px;
}
.service img{
    display: block;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.about-grid h3 {
  font-size: 3em;
    font-family: 'Tangerine', cursive;
  margin-top: .3em;
  font-weight: 400;
    color: #7C0F08 !important;
    text-align: center;

}
.about-grid h3 a{
    color: #7C0F08 !important;
}
a.btn_2 {
  background: none;
  border: none;
 -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  line-height: 16px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #e05361 !important;
}
a.btn_2:hover{
	color:#000;
}
/* -- services --*/
.grid_5 h2{
  color: #7C0F08;
  font-family: 'Tangerine', cursive;
  font-size:4em;
}
span.line {
  display: block;
  width: 43px;
  height: 5px;
  background:#7C0F08;
  vertical-align: baseline;
}
.grid_5 h2 .line {
  display: inline-block;
  margin-left: 15px;
}
.grid_5 h3{
  font-weight:300;
  font-size:3em;
  text-transform:uppercase;
}
.grid_5 p{
  color:#555;
  font-weight: 300;
  font-size:1.0em;
  line-height:1.8em;
  margin-bottom: 1em;
}
.grid_6 {
  margin-bottom:1em;
}
.box_1{
    width: 100%;
}
ul.text-list{
	padding:0;
	margin:0;
	list-style:none;
}
.text-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
  font-size:0.85em;
  color:#999;
  font-weight: 300;
}
.text-list li:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  left: 0px;
  top:6px;
  background:#eb2836;
  border-radius: 50%;
}
.text_1 h4{
  color:#e05361;
}
.text_1 p{
  color:#999;
  font-size:0.85em;
  line-height:1.8em;
  margin-bottom: 1em;
  font-weight: 300;
}
/*-- typography --*/
.typography{
	padding:5em 0 3em;
}
.typography h2{
	color:#7C0F08;
	font-size:5em;
	font-weight:300;
    font-family: 'Tangerine', cursive;
}
.form-control1{
  border: 1px solid #e0e0e0;
  padding: 5px 8px;
  color: #616161;
  background: #fff;
  box-shadow: none !important;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
}
/*-- contact --*/
.map iframe{
  border:none;
  height:300px;
  width:100%;
}
.contact_address p {
  color: #555;
  font-size:0.85em;
  line-height: 20px;
  margin: 0 0 16px;
  font-weight:300;
}
.contact_address dd {
  color:#555;
  font-size:0.85em;
  line-height: 20px;
  font-weight:300;
}
.contact_address dd a{
  color:#7C0F08;
}
.contact_grid {
  padding: 2em 0 5em;
}
.left_grid input[type="text"], .right_grid textarea{
  padding:10px;
  width:100%;
  font-size: 0.85em;
  margin: 10px 0;
  color: #7d230d;
  background:#fff6de;
  outline: none;
  border:none;
  text-transform: uppercase;
  font-weight:300;
    border-radius: 10px;
}
.left_grid input[type="text"]::-webkit-input-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"]:-moz-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"]::-moz-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"]:-ms-input-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"], .right_grid textarea::-webkit-input-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"], .right_grid textarea:-moz-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"], .right_grid textarea::-moz-placeholder {
    color:#7d230d;
}
.left_grid input[type="text"], .right_grid textarea:-ms-input-placeholder {
    color:#7d230d;
}
.right_grid textarea{
  resize:none;
  height:160px;
}
.form-submit1{
  float:right;
  padding-right:15px;
}
.form-submit1 input[type="submit"] {
  color: #FFD15E;
  text-align: center;
  font-size: 0.95em;
  font-weight: normal;
  padding: 15px 30px;
  text-transform: uppercase;
  background:#7C0F08;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: 500;
  border: none;
  cursor: pointer;
    border-radius: 10px;
}
.form-submit1 input[type="submit"]:hover {
  background:#4C0807;
}
/*FOOTER*/
.footer{
    width: 100%;
    background-color: #7B0E0B;
    color: #FFD15E;
    padding: 15px 0;
    margin-top: 20px;
}
.footer-list{
    text-align: center;
    list-style: none;
}
.footer-list li{
    padding: 0 25px;
    margin: 5px 0;
    border-right: 2px solid #FFD15E;
    display: inline-block;
    vertical-align: middle;
}
/* -- responsive design --*/
/*responsive adding image*/
@media (max-width: 1200px) {
    .view {
        height: 175px;
    }
    .service{
        height: 220px;
    }
}
@media (max-width: 1199px) {
    .about-grid{
        flex: 0 0 22%;
    }
    .about-grid h3{
        font-size: 2.3em;
    }
}
@media (max-width: 767px) {

    .about-grid {
        flex: 0 0 44%;
        /*float: inherit;*/
    }

}
@media (max-width: 991px) {
    .view {
        height: 130px;
    }
    .linebox{
        display: block;
        height: 1px;
        background:#7C0F08;
        vertical-align: baseline;
        margin: 25px  0 0;
    }
    .service{
        height: 345px;
    }
    .gallery{
        width: 22%;
        flex: 0 0 22%;
    }
    .grid_5{
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    #about_video{
        height: 300px;
    }

    .view {
        height: 235px;
    }
    .gallery{
        width: 50%;
        float: left;
    }
    .service{
        height: 240px;
    }
}
@media (max-width: 667px) {
    .view {
        height: 240px;
    }
    .service{
        height: 270px;
    }
    .gallery{
        width: 50%;
    }
}
@media (max-width: 575px) {
    .view {
        height: 200px;
    }
    .service{
        height: 230px;
    }
    .linebox{
        margin: 10px 0 0;
    }
    #about_video{
        height: 250px;
    }
}
@media (max-width: 480px) {
    .view {
        height: 160px;
    }
    .service{
        height: 200px;
    }
    .linebox{
        margin: 0;
    }
    #about_video{
        height: 200px;
    }
}
@media (max-width: 400px) {
    #about_video{
        height: 150px;
    }
}
/*---gallary image---*/
@media(max-width:1080px) {
    .top-nav ul li {
        margin: 0 0.2em;
    }
}
@media (max-width:1024px){
    .logo h1 {
        font-size: 3.2em;
    }
    ul.dropdown-menu li a {
        font-size: 1em;
    }
.banner_desc h1 {
  font-size: 8em;
}
.banner_desc h2 {
  font-size: 2.5em;
}
.banner {
 min-height: 600px;
}
.banner_desc {
  padding-top: 8em;
}
.btn-arrow:after {
  right: 372px;
}
.btn-arrow:before {
  right: 374px;
}
.about_desc {
  padding-top:3em;
}
.about_banner {
  min-height: 160px;
}
.grid_3 p {
  font-size: 14px;
}
.grid_3 h4 {
  font-size: 2.5em;
}
}
@media (max-width:800px) {
    .logo h1 {
        font-size: 3.0em;
    }
}
@media (max-width:930px){
    .top-nav ul li a {
        letter-spacing: 0;
        padding: 10px 11px;
    }
    .banner_desc h1 {
  font-size: 7em;
  line-height: 70px;
}
.banner_desc h2 {
  font-size: 2em;
}
.banner {
  min-height: 500px;
}
.banner_desc {
  padding-top: 7em;
}
h3.motiveColor {
  font-size: 4.5em;
}
.btn-arrow:after {
  right: 265px;
}
.btn-arrow:before {
  right: 267px;
}
.slider-top p {
  font-size: 20px;
}
.slider-top p {
  font-size: 20px;
}
h4.motiveColor1 {
  font-size: 2.5em;
}
.grid_3 p {
  font-size: 16px;
  padding: 40px 10px;
}
.grid_3 h4 {
  font-size: 2em;
  margin-bottom:0.5em;
}
    .grid_5 h2 {
        font-size: 3em;
    }
.col-md-6.grid_3 {
  margin-bottom: 2em;
}
.copy {
  text-align: center;
  margin: 1em 0 0 0;
}
.about_desc {
  padding-top:3em;
}
.col-md-3.grid_5 {
  margin: 2em 0 0 0;
}
.grid_4 p {
  margin-bottom: 1em;
}
.grid_5 {
  margin-bottom: 2em;
    max-width: 100%;
}
.service_list{
  margin-bottom:0;
}
.grid_box1 {
  margin-bottom: 5px;
}
.col-md-3.contact_address {
  margin: 2em 0 0 0;
}
.contact_grid {
  padding: 0em 0 5em;
}
}
@media (max-width:767px){

.banner_desc h1 {
  font-size: 6em;
  line-height: 60px;
}
.banner_desc h2 {
  font-size: 1.8em;
}
.banner {
  min-height: 420px;
}
.banner_desc {
  padding-top: 6em;
}
.slider-top p {
  font-size: 17px;
}
.slider-top p.below {
  font-size: 14px;
  padding: 0.5em 0 1.5em 0;
}
.slider {
  padding: 3em 0 4em;
}
.about_desc {
  padding-top:2.5em;
}
.about_banner {
  min-height: 140px;
}
.about_1 {
  padding: 3em 0 0em;
}
.about-grid h3 {
  font-size:2.9em;
}
.box_1 {
  margin-bottom: 1em;
}
.text_1 {
  margin-bottom: 2em;
}
.text_2{
	margin-bottom:0;
}
.grid_6 {
  margin-bottom: 0;
}
.grid_2 {
  padding:4em 0 3em;
}
.typography h2{
  font-size:3.5em;
}
.typography {
  padding: 3em 0 1em;
}
}
@media (max-width:667px){
img.arrow-img {
  margin-right: 36%;
}
.banner_desc h1 {
  font-size: 5em;
  line-height: 50px;
}
.banner_desc h2 {
  font-size: 1.6em;
}
.banner {
  min-height: 320px;
}
.banner_desc {
  padding-top:4em;
}
.btn-arrow:after {
  right: 200px;
}
.btn-arrow:before {
  right: 202px;
}
h4.motiveColor1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}
.about-grid {
    flex: 0 0 44%;
  float: left;
}

.grid_2 {
  padding:4em 0 3em;
}
.grid_5 h3 {
  font-size: 2.5em;
}
.grid_5 h2 {
  font-size: 2.5em;
}
.typography h2 {
  font-size: 3em;
}
.contact_grid {
  padding: 0em 0 3em;
}
.about_desc {
  padding-top:2.5em;
}
}
@media (max-width:480px){
    button.navbar-toggle {
        margin-top: 0.3em;
    }
    .footer-list li{
        margin: 10px 0;
        border-right: none;
        display: block;
        vertical-align: middle;
    }
.banner_desc h1 {
  font-size: 3.5em;
  line-height: 35px;
}
.banner_desc h2 {
  font-size: 1.3em;
}
.banner {
  min-height: 250px;
}
.banner_desc {
  padding-top: 3em;
}
h3.motiveColor {
  font-size: 4em;
}
h4.motiveColor1 {
  font-size: 2em;
}
.btn-arrow:after {
  right: 84px;
}
.btn-arrow:before {
  right: 87px;
}
.grid_1 p {
  margin: 1.5em 0px;
}
.grid_1 {
  padding: 3em 0;
}
.btn {
  padding: 10px 20px 10px 20px;
}
.btn-arrow:after {
  background: url(../images/arrow.png)#7C0F08 no-repeat 7px 6px;
  background-size: 55%;
  width: 30px;
  height: 28px;
  bottom:-7px;
  right: 105px;
}
.btn-arrow:before {
  right: 105px;
  bottom: 20px;
}
.slider-top p {
  font-size: 14px;
}
.slider-top p.below {
  font-size: 13px;
}
.slider-top img {
  width:90px;
    height: 90px;
}
.callbacks_tabs a:after {
  height: 10px;
  width: 10px;
}
.slider {
  padding: 2em 0 3em;
}
.grid_2 {
  padding: 3em 0 2em;
}
.grid_3 h4 {
  font-size: 1.5em;
}
.grid_3 p {
  font-size: 14px;
  padding: 20px 10px;
}
.copy p {
  font-size:0.95em;
}
.copy {
  margin: 0;
}
.col-md-9.grid_4, .col-md-3.grid_5{
  padding: 0;
}
.grid_5 h5, .grid_5 h6 {
  font-size:1em;
}
.col-sm-3.about-grid {
  padding: 5px 5px;
    margin: 5px 5px;
}
    .gallery{
        width: 47%;
    }
.info {
  margin-top: 3em;
}
.view .mask, .view .content {
  width: 174px;
  height: 173px;
}
p.service_desc {
  font-size:12px;
}
.grid_5, .text_1{
  padding:0;
}
.map_left {
  padding:0;
}
.typography h2 {
  font-size: 2.5em;
}
.col-md-3.contact_address, .col-md-4.left_grid, .right_grid{
  padding:0;
}
.form-submit1 input[type="submit"] {
  font-size: 0.85em;
  padding: 10px 15px;
}
    .about-grid h3{
        font-size: 2.0em;
    }
}
@media (max-width:320px){
    .logo h1 {
        font-size: 2.5em;
    }
    .navbar-header.logo {
        padding: 0 1em;
    }
    button.navbar-toggle {
        margin: 0;
    }
.logo {
  padding: 3px 0 0;
}
.banner_desc h1 {
  font-size: 3em;
  line-height: 29px;
}
.banner_desc h2 {
  font-size: 1.1em;
}
.banner {
  min-height: 210px;
}
h3.motiveColor {
  font-size: 1.4em;
}
.grid_1 p {
  font-size: 0.8125em;
}
.btn {
  padding: 8px 30px 8px 10px;
}
.btn-arrow:after {
  right: 62px;
}
.btn-arrow:before {
  right: 62px;
}
.grid_2 input[type="text"], .grid_2 textarea {
  font-size: 11px;
  margin: 10px 0;
  height: 35px;
}
.form-submit input[type="submit"] {
  font-size: 1.1em;
}
.form-submit {
  margin: 0;
}
.grid_3 h4 {
  font-size: 1.3em;
}
.grid_3 p {
  font-size: 13px;
  padding: 15px 10px;
}
.copy p {
  font-size: 0.85em;
}
.col-md-6.grid_3 {
    margin-bottom: 1em;
}
h4.motiveColor1 {
  font-size: 1.6em;
}
.about_1 {
  padding: 2em 0 0em;
}
.grid_4 p {
  margin-bottom: 1em;
  font-size: 13px;
}
.grid_5 h5, .grid_5 h6 {
  font-size: 0.95em;
}
.col-md-3.grid_5 {
  margin: 1em 0 0 0;
}
.about-grid h3 {
  font-size: 2.0em;
}
a.btn_2 {
  font-size: 13px;
}
.about-grid {
  margin-bottom: 2em;
}
.grid_2 {
  padding: 1.5em 0 2em;
}
.view .mask, .view .content {
  width: 127px;
  height: 127px;
}
p.service_desc {
  font-size:12px;
}
.grid_5 h2 {
  font-size: 2em;
}
.grid_5 h3 {
  font-size: 1.5em;
}
.grid_5 p {
  font-size:13px;
}
.info {
  margin-top: 2em;
}
.grid_5 {
  margin-bottom: 1em;
}
.about_banner {
  min-height:90px;
}
.about_desc {
  padding-top:2em;
}
.about_1 {
  padding: 1em 0 0em;
}
.text_1 p, .text-list li{
  font-size: 13px;
}
.text-list li {
  padding-left: 15px;
}
.map iframe {
  height:150px;
}
.contact_address p {
  margin: 0 0 10px;
}
.typography {
  padding: 2em 0 0em;
}
.typography h2 {
  font-size: 1.1em;
}
.col-md-3.contact_address {
  margin: 1em 0 0 0;
}
.left_grid input[type="text"], .right_grid textarea {
  font-size: 0.8125em;
  margin: 2px 0;
}
.contact_grid {
  padding: 0em 0 2em;
}
}


.top-nav nav {
    position:fixed;
    background:none;
    /*z-index:0;*/
    width:100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0.5em 0;
}
.top-nav nav.navScroll {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0 0 10px 10px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #4C0807 , #7B0E0B, #7B0E0B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4C0807, #7B0E0B, #7B0E0B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4C0807, #7B0E0B, #7B0E0B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4C0807 , #7B0E0B, #7B0E0B); /* Standard syntax (must be last) */

}
nav.navScroll ul li a{
    color: #FFD15E;
}
nav.navScroll ul.dropdown-menu li a {
    color: #FFD15E;
}
nav.navScroll .logo a,nav.navScroll .logo a:hover{
    color: #FFD15E;
}
nav.navScroll li a.active {
    color: #FFD15E;
}
nav.navScroll a.buy{
    color: #FFD15E;
}
@media(max-width:767px){
    nav.navScroll ul li a {
        color: #fff;
    }
}


.top-nav ul li a{
    padding: 7px 20px !important;
    color:#FFD15E !important;
}

.footer-bottom {
    text-align: center;
}
/* Icons */
.footer-bottom a {
    color: #4C0807;
    background: #FFD15E;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 0.2em;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
    margin: 0 5px;
}
.footer-bottom a:hover {
    background: #FFD15E;
}
/* pop-up text */
.footer-bottom a span {
    color: #FFD15E;
    position: absolute;
    bottom: 0;
    right: -25px;
    padding: 5px;
    font-size: 1em;
    border-radius: 2px;
    background: #4C0807;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.footer-bottom a span:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4C0807;
    position:absolute;
    bottom:-5px;
    left:35px;
}
.footer-bottom a:hover span {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}
.footer-bottom a:before {
    content: '';
    /*background:url(../images/icons.png)no-repeat 3px 1px;*/
    width: 20px;
    /*height: 20px;*/
    display: block;
}
.footer-bottom a:nth-of-type(2):before {
    content: '';
    background-position:3px -22px;
}
.footer-bottom a:nth-of-type(3):before {
    content: '';
    background-position:0px -45px;
}
.footer-bottom a:nth-of-type(4):before {
    content: '';
    background-position:0px -65px;
}
/*-- Icons --*/

.about_detail{
    font-size: 1.1em !important;
    font-weight: 300 !important;
}

/*Custom size of screen when navbar collapse*/
@media (max-width: 1250px) {
    .top-nav ul li a{
        padding: 3px !important;
    }
    .top-nav ul.nav.navbar-right {
        margin-right: 0px;
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    button.navbar-toggle {
        background: #4C0807;
        border-color: #FFD15E;
        margin-right: 0;
    }
    .bnr-agileinfo {
        margin: 9em auto 0;
        width: 75%;
    }
    .navbar-toggle .icon-bar {
        background: #FFD15E;
    }
    .navbar-header.logo {
        padding: 0 2em;
    }
    .top-nav ul li a.link-kumya.active {
        border-radius: 0%;
    }
    .top-nav ul li {
        display: block;
    }
    div#bs-example-navbar-collapse-1 {
        background: rgba(0, 0, 0, 0.82);
        margin: 0;
        padding: 0;
    }
    ul.nav.navbar-right {
        text-align: center;
    }
    .navbar-right .dropdown-menu {
        min-width: 100%;
        position: relative;
        text-align:center;
    }
}
.gallery{
    border: none;
    margin: 0;
}
@media (min-width: 768px) {
    .gallery{
        width: 25%;
        float: left;
    }
}

/*Pagination*/
.pagination li span{
    background: none !important;
    border: none;
}
.pagination li a{
    background: none !important;
    color: #7C0F08;
    border: none;
}
.pagination .disabled span{
    color: #7C0F08 !important;
}
.pagination .active span{
    background: #7C0F08 !important;
    color: #FFD15E !important;
    border-radius: 5px;
}